2517264.json
{"flow":[{"id":1,"mapper":{"json":"{\n    \"order\": {\n        \"id\": 5152835665971,\n        \"admin_graphql_api_id\": \"gid://shopify/Order/5152835665971\",\n        \"app_id\": 6167201,\n        \"browser_ip\": \"2600:1700:1d87:0:3b3:7a35:edb2:cd05\",\n        \"buyer_accepts_marketing\": false,\n        \"cancel_reason\": null,\n        \"cancelled_at\": null,\n        \"cart_token\": \"182cc8c63e3086663cbbf8bf1e6339ad\",\n        \"checkout_id\": 30828058116147,\n        \"checkout_token\": \"61156ba8ee3f738224130292d2323d32\",\n        \"client_details\": {\n            \"accept_language\": \"en-US,en;q=0.9\",\n            \"browser_height\": null,\n            \"browser_ip\": \"2600:1700:1d87:0:3b3:7a35:edb2:cd05\",\n            \"browser_width\": null,\n            \"session_hash\": null,\n            \"user_agent\": \"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Mobile Safari/537.36\"\n        },\n        \"closed_at\": null,\n        \"company\": null,\n        \"confirmation_number\": \"NFIM2RNGF\",\n        \"confirmed\": true,\n        \"contact_email\": \"chrisledwon90@gmail.com\",\n        \"created_at\": \"2024-06-02T02:21:51-04:00\",\n        \"currency\": \"USD\",\n        \"current_subtotal_price\": \"4311.00\",\n        \"current_subtotal_price_set\": {\n            \"shop_money\": {\n                \"amount\": \"4311.00\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"4311.00\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"current_total_additional_fees_set\": null,\n        \"current_total_discounts\": \"0.00\",\n        \"current_total_discounts_set\": {\n            \"shop_money\": {\n                \"amount\": \"0.00\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"0.00\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"current_total_duties_set\": null,\n        \"current_total_price\": \"4655.88\",\n        \"current_total_price_set\": {\n            \"shop_money\": {\n                \"amount\": \"4655.88\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"4655.88\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"current_total_tax\": \"344.88\",\n        \"current_total_tax_set\": {\n            \"shop_money\": {\n                \"amount\": \"344.88\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"344.88\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"customer_locale\": \"en-US\",\n        \"device_id\": null,\n        \"discount_codes\": [],\n        \"email\": \"chrisledwon90@gmail.com\",\n        \"estimated_taxes\": false,\n        \"financial_status\": \"paid\",\n        \"fulfillment_status\": null,\n        \"landing_site\": null,\n        \"landing_site_ref\": null,\n        \"location_id\": null,\n        \"merchant_of_record_app_id\": null,\n        \"name\": \"KZ13971\",\n        \"note\": \"\",\n        \"note_attributes\": [\n            {\n                \"name\": \"390Q-ER-MQ-PLT\",\n                \"value\": \"https://trello.com/c/oAwPq65k\"\n            }\n        ],\n        \"number\": 12971,\n        \"order_number\": 13971,\n        \"order_status_url\": \"https://checkout.keyzarjewelry.com/3969941568/orders/0b3c0e2f7f6fd503ca85d2de17ef3702/authenticate?key=c19b446f67b6b4348493a872bd3e12cb&none=VQxWAlRFXQ\",\n        \"original_total_additional_fees_set\": null,\n        \"original_total_duties_set\": null,\n        \"payment_gateway_names\": [\n            \"shopify_payments\"\n        ],\n        \"phone\": null,\n        \"po_number\": null,\n        \"presentment_currency\": \"USD\",\n        \"processed_at\": \"2024-06-02T02:21:50-04:00\",\n        \"reference\": null,\n        \"referring_site\": null,\n        \"source_identifier\": null,\n        \"source_name\": \"6167201\",\n        \"source_url\": null,\n        \"subtotal_price\": \"4311.00\",\n        \"subtotal_price_set\": {\n            \"shop_money\": {\n                \"amount\": \"4311.00\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"4311.00\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"tags\": \"shopify_payments\",\n        \"tax_exempt\": false,\n        \"tax_lines\": [\n            {\n                \"price\": \"172.44\",\n                \"rate\": 0.04,\n                \"title\": \"GA STATE TAX\",\n                \"price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"172.44\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"172.44\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"channel_liable\": false\n            },\n            {\n                \"price\": \"172.44\",\n                \"rate\": 0.04,\n                \"title\": \"GA COUNTY TAX\",\n                \"price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"172.44\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"172.44\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"channel_liable\": false\n            }\n        ],\n        \"taxes_included\": false,\n        \"test\": false,\n        \"token\": \"0b3c0e2f7f6fd503ca85d2de17ef3702\",\n        \"total_discounts\": \"0.00\",\n        \"total_discounts_set\": {\n            \"shop_money\": {\n                \"amount\": \"0.00\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"0.00\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"total_line_items_price\": \"4311.00\",\n        \"total_line_items_price_set\": {\n            \"shop_money\": {\n                \"amount\": \"4311.00\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"4311.00\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"total_outstanding\": \"0.00\",\n        \"total_price\": \"4655.88\",\n        \"total_price_set\": {\n            \"shop_money\": {\n                \"amount\": \"4655.88\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"4655.88\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"total_shipping_price_set\": {\n            \"shop_money\": {\n                \"amount\": \"0.00\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"0.00\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"total_tax\": \"344.88\",\n        \"total_tax_set\": {\n            \"shop_money\": {\n                \"amount\": \"344.88\",\n                \"currency_code\": \"USD\"\n            },\n            \"presentment_money\": {\n                \"amount\": \"344.88\",\n                \"currency_code\": \"USD\"\n            }\n        },\n        \"total_tip_received\": \"0.00\",\n        \"total_weight\": 0,\n        \"updated_at\": \"2024-06-02T02:22:19-04:00\",\n        \"user_id\": null,\n        \"billing_address\": {\n            \"first_name\": \"Chris\",\n            \"address1\": \"208 Winery Way\",\n            \"phone\": \"+17065108584\",\n            \"city\": \"Athens\",\n            \"zip\": \"30607-1634\",\n            \"province\": \"Georgia\",\n            \"country\": \"United States\",\n            \"last_name\": \"Ledwon\",\n            \"address2\": \"\",\n            \"company\": \"\",\n            \"latitude\": 34.0005096,\n            \"longitude\": -83.41220679999999,\n            \"name\": \"Chris Ledwon\",\n            \"country_code\": \"US\",\n            \"province_code\": \"GA\"\n        },\n        \"customer\": {\n            \"id\": 6687882641459,\n            \"email\": \"chris@gmail.com\",\n            \"created_at\": \"2024-05-17T14:57:20-04:00\",\n            \"updated_at\": \"2024-06-02T02:22:18-04:00\",\n            \"first_name\": \"Chris\",\n            \"last_name\": \"Ledwon\",\n            \"state\": \"disabled\",\n            \"note\": null,\n            \"verified_email\": true,\n            \"multipass_identifier\": null,\n            \"tax_exempt\": false,\n            \"phone\": \"+17065108584\",\n            \"email_marketing_consent\": {\n                \"state\": \"not_subscribed\",\n                \"opt_in_level\": \"single_opt_in\",\n                \"consent_updated_at\": null\n            },\n            \"sms_marketing_consent\": {\n                \"state\": \"not_subscribed\",\n                \"opt_in_level\": \"single_opt_in\",\n                \"consent_updated_at\": null,\n                \"consent_collected_from\": \"OTHER\"\n            },\n            \"tags\": \"\",\n            \"currency\": \"USD\",\n            \"accepts_marketing\": false,\n            \"accepts_marketing_updated_at\": null,\n            \"marketing_opt_in_level\": \"single_opt_in\",\n            \"tax_exemptions\": [],\n            \"admin_graphql_api_id\": \"gid://shopify/Customer/6687882641459\",\n            \"default_address\": {\n                \"id\": 8292405936179,\n                \"customer_id\": 6687882641459,\n                \"first_name\": \"Chris\",\n                \"last_name\": \"Ledwon\",\n                \"company\": \"\",\n                \"address1\": \"210 Arrowhead Road\",\n                \"address2\": \"\",\n                \"city\": \"Bogart\",\n                \"province\": \"Georgia\",\n                \"country\": \"United States\",\n                \"zip\": \"30622\",\n                \"phone\": \"+17065108584\",\n                \"name\": \"Chris Ledwon\",\n                \"province_code\": \"GA\",\n                \"country_code\": \"US\",\n                \"country_name\": \"United States\",\n                \"default\": true\n            }\n        },\n        \"discount_applications\": [],\n        \"fulfillments\": [],\n        \"line_items\": [\n            {\n                \"id\": 12689448304691,\n                \"admin_graphql_api_id\": \"gid://shopify/LineItem/12689448304691\",\n                \"attributed_staffs\": [],\n                \"fulfillable_quantity\": 1,\n                \"fulfillment_service\": \"manual\",\n                \"fulfillment_status\": null,\n                \"gift_card\": false,\n                \"grams\": 0,\n                \"name\": \"2 Carat E VVS2 Marquise Lab Diamond\",\n                \"pre_tax_price\": \"1861.00\",\n                \"pre_tax_price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"price\": \"1861.00\",\n                \"price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"product_exists\": true,\n                \"product_id\": 7284927135795,\n                \"properties\": [\n                    {\n                        \"name\": \"_completeProductKey\",\n                        \"value\": \"MTcxNzI4NTgyNDg5Ng==\"\n                    },\n                    {\n                        \"name\": \"_shape\",\n                        \"value\": \"Marquise\"\n                    }\n                ],\n                \"quantity\": 1,\n                \"requires_shipping\": true,\n                \"sku\": \"srdl-Marquise-IGI-635495420\",\n                \"tax_code\": \"PC040206\",\n                \"taxable\": true,\n                \"title\": \"2 Carat E VVS2 Marquise Lab Diamond\",\n                \"total_discount\": \"0.00\",\n                \"total_discount_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"variant_id\": 42315407163443,\n                \"variant_inventory_management\": \"shopify\",\n                \"variant_title\": \"\",\n                \"vendor\": \"Maitri\",\n                \"tax_lines\": [\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"74.44\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA STATE TAX\"\n                    },\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"74.44\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA COUNTY TAX\"\n                    }\n                ],\n                \"duties\": [],\n                \"discount_allocations\": []\n            },\n            {\n                \"id\": 12689448304691,\n                \"admin_graphql_api_id\": \"gid://shopify/LineItem/12689448304691\",\n                \"attributed_staffs\": [],\n                \"fulfillable_quantity\": 1,\n                \"fulfillment_service\": \"manual\",\n                \"fulfillment_status\": null,\n                \"gift_card\": false,\n                \"grams\": 0,\n                \"name\": \"2 Carat E VVS2 Marquise Lab Diamond\",\n                \"pre_tax_price\": \"1861.00\",\n                \"pre_tax_price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"price\": \"1861.00\",\n                \"price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"1861.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"product_exists\": true,\n                \"product_id\": 7284927135795,\n                \"properties\": [\n                    {\n                        \"name\": \"_completeProductKey\",\n                        \"value\": \"MTcxNzI4NTgyNDg5Ng==\"\n                    },\n                    {\n                        \"name\": \"_shape\",\n                        \"value\": \"Marquise\"\n                    }\n                ],\n                \"quantity\": 1,\n                \"requires_shipping\": true,\n                \"sku\": \"srdl-Marquise-IGI-635495420\",\n                \"tax_code\": \"PC040206\",\n                \"taxable\": true,\n                \"title\": \"2 Carat E VVS2 Marquise Lab Diamond\",\n                \"total_discount\": \"0.00\",\n                \"total_discount_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"variant_id\": 42315407163443,\n                \"variant_inventory_management\": \"shopify\",\n                \"variant_title\": \"\",\n                \"vendor\": \"Maitri\",\n                \"tax_lines\": [\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"74.44\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA STATE TAX\"\n                    },\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"74.44\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"74.44\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA COUNTY TAX\"\n                    }\n                ],\n                \"duties\": [],\n                \"discount_allocations\": []\n            },\n            {\n                \"id\": 12689448337459,\n                \"admin_graphql_api_id\": \"gid://shopify/LineItem/12689448337459\",\n                \"attributed_staffs\": [],\n                \"fulfillable_quantity\": 1,\n                \"fulfillment_service\": \"manual\",\n                \"fulfillment_status\": null,\n                \"gift_card\": false,\n                \"grams\": 0,\n                \"name\": \"The Megan - Marquise / Platinum\",\n                \"pre_tax_price\": \"2450.00\",\n                \"pre_tax_price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"2450.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"2450.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"price\": \"2450.00\",\n                \"price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"2450.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"2450.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"product_exists\": true,\n                \"product_id\": 6934455812147,\n                \"properties\": [\n                    {\n                        \"name\": \"_completeProductKey\",\n                        \"value\": \"MTcxNzI4NTgyNDg5Ng==\"\n                    },\n                    {\n                        \"name\": \"_completeProductSetting\",\n                        \"value\": \"true\"\n                    },\n                    {\n                        \"name\": \"Ring Size\",\n                        \"value\": \"7\"\n                    }\n                ],\n                \"quantity\": 1,\n                \"requires_shipping\": true,\n                \"sku\": \"390Q-ER-MQ-PLT\",\n                \"tax_code\": \"PC040206\",\n                \"taxable\": true,\n                \"title\": \"The Megan\",\n                \"total_discount\": \"0.00\",\n                \"total_discount_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"variant_id\": 41344913506355,\n                \"variant_inventory_management\": null,\n                \"variant_title\": \"Marquise / Platinum\",\n                \"vendor\": \"Keyzar\",\n                \"tax_lines\": [\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"98.00\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"98.00\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"98.00\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA STATE TAX\"\n                    },\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"98.00\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"98.00\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"98.00\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA COUNTY TAX\"\n                    }\n                ],\n                \"duties\": [],\n                \"discount_allocations\": []\n            }\n        ],\n        \"payment_terms\": null,\n        \"refunds\": [],\n        \"shipping_address\": {\n            \"first_name\": \"Chris\",\n            \"address1\": \"210 Arrowhead Road\",\n            \"phone\": \"+17065108584\",\n            \"city\": \"Bogart\",\n            \"zip\": \"30622\",\n            \"province\": \"Georgia\",\n            \"country\": \"United States\",\n            \"last_name\": \"Ledwon\",\n            \"address2\": \"\",\n            \"company\": \"\",\n            \"latitude\": 33.9396052,\n            \"longitude\": -83.4699809,\n            \"name\": \"Chris Ledwon\",\n            \"country_code\": \"US\",\n            \"province_code\": \"GA\"\n        },\n        \"shipping_lines\": [\n            {\n                \"id\": 4289452671027,\n                \"carrier_identifier\": null,\n                \"code\": \"Expedited Shipping\",\n                \"discounted_price\": \"0.00\",\n                \"discounted_price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"phone\": null,\n                \"price\": \"0.00\",\n                \"price_set\": {\n                    \"shop_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    },\n                    \"presentment_money\": {\n                        \"amount\": \"0.00\",\n                        \"currency_code\": \"USD\"\n                    }\n                },\n                \"requested_fulfillment_service_id\": null,\n                \"source\": \"shopify\",\n                \"title\": \"Expedited Shipping\",\n                \"tax_lines\": [\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"0.00\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"0.00\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"0.00\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA STATE TAX\"\n                    },\n                    {\n                        \"channel_liable\": false,\n                        \"price\": \"0.00\",\n                        \"price_set\": {\n                            \"shop_money\": {\n                                \"amount\": \"0.00\",\n                                \"currency_code\": \"USD\"\n                            },\n                            \"presentment_money\": {\n                                \"amount\": \"0.00\",\n                                \"currency_code\": \"USD\"\n                            }\n                        },\n                        \"rate\": 0.04,\n                        \"title\": \"GA COUNTY TAX\"\n                    }\n                ],\n                \"discount_allocations\": []\n            }\n        ]\n    }\n}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"My data structure"}}},"designer":{"x":0,"y":0,"name":"Initial Data"},"interface":[{"name":"order","spec":[{"name":"id","type":"number","label":null,"default":null,"required":false},{"name":"admin_graphql_api_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"app_id","type":"number","label":null,"default":null,"required":false},{"name":"browser_ip","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"buyer_accepts_marketing","type":"boolean","label":null,"required":false},{"name":"cancel_reason","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"cancelled_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"cart_token","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"checkout_id","type":"number","label":null,"default":null,"required":false},{"name":"checkout_token","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"client_details","spec":[{"name":"accept_language","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"browser_height","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"browser_ip","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"browser_width","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"session_hash","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"user_agent","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"closed_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"company","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"confirmation_number","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"confirmed","type":"boolean","label":null,"required":false},{"name":"contact_email","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"created_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_subtotal_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_subtotal_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"current_total_additional_fees_set","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_total_discounts","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_total_discounts_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"current_total_duties_set","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_total_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_total_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"current_total_tax","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"current_total_tax_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"customer_locale","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"device_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"discount_codes","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"email","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"estimated_taxes","type":"boolean","label":null,"required":false},{"name":"financial_status","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"fulfillment_status","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"landing_site","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"landing_site_ref","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"location_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"merchant_of_record_app_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"note","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"note_attributes","spec":{"spec":[{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"value","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","required":false},"type":"array","label":null,"required":false},{"name":"number","type":"number","label":null,"default":null,"required":false},{"name":"order_number","type":"number","label":null,"default":null,"required":false},{"name":"order_status_url","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"original_total_additional_fees_set","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"original_total_duties_set","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"payment_gateway_names","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"phone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"po_number","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"presentment_currency","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"processed_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"reference","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"referring_site","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"source_identifier","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"source_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"source_url","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"subtotal_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"subtotal_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"tags","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"tax_exempt","type":"boolean","label":null,"required":false},{"name":"tax_lines","spec":{"spec":[{"name":"price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"rate","type":"number","label":null,"default":null,"required":false},{"name":"title","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"channel_liable","type":"boolean","label":null,"required":false}],"type":"collection","required":false},"type":"array","label":null,"required":false},{"name":"taxes_included","type":"boolean","label":null,"required":false},{"name":"test","type":"boolean","label":null,"required":false},{"name":"token","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_discounts","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_discounts_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"total_line_items_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_line_items_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"total_outstanding","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"total_shipping_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"total_tax","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_tax_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"total_tip_received","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_weight","type":"number","label":null,"default":null,"required":false},{"name":"updated_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"user_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"billing_address","spec":[{"name":"first_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"address1","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"phone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"city","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"zip","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"province","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"last_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"address2","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"company","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"latitude","type":"number","label":null,"default":null,"required":false},{"name":"longitude","type":"number","label":null,"default":null,"required":false},{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country_code","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"province_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"customer","spec":[{"name":"id","type":"number","label":null,"default":null,"required":false},{"name":"email","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"created_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"updated_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"first_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"last_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"state","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"note","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"verified_email","type":"boolean","label":null,"required":false},{"name":"multipass_identifier","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"tax_exempt","type":"boolean","label":null,"required":false},{"name":"phone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"email_marketing_consent","spec":[{"name":"state","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"opt_in_level","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"consent_updated_at","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"sms_marketing_consent","spec":[{"name":"state","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"opt_in_level","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"consent_updated_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"consent_collected_from","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"tags","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"accepts_marketing","type":"boolean","label":null,"required":false},{"name":"accepts_marketing_updated_at","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"marketing_opt_in_level","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"tax_exemptions","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"admin_graphql_api_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"default_address","spec":[{"name":"id","type":"number","label":null,"default":null,"required":false},{"name":"customer_id","type":"number","label":null,"default":null,"required":false},{"name":"first_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"last_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"company","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"address1","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"address2","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"city","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"province","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"zip","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"phone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"province_code","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country_code","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"default","type":"boolean","label":null,"required":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"discount_applications","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"fulfillments","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"line_items","spec":{"spec":[{"name":"id","type":"number","label":null,"default":null,"required":false},{"name":"admin_graphql_api_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"attributed_staffs","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"fulfillable_quantity","type":"number","label":null,"default":null,"required":false},{"name":"fulfillment_service","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"fulfillment_status","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"gift_card","type":"boolean","label":null,"required":false},{"name":"grams","type":"number","label":null,"default":null,"required":false},{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"pre_tax_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"pre_tax_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"product_exists","type":"boolean","label":null,"required":false},{"name":"product_id","type":"number","label":null,"default":null,"required":false},{"name":"properties","spec":{"spec":[{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"value","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","required":false},"type":"array","label":null,"required":false},{"name":"quantity","type":"number","label":null,"default":null,"required":false},{"name":"requires_shipping","type":"boolean","label":null,"required":false},{"name":"sku","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"tax_code","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"taxable","type":"boolean","label":null,"required":false},{"name":"title","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_discount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"total_discount_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"variant_id","type":"number","label":null,"default":null,"required":false},{"name":"variant_inventory_management","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"variant_title","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"vendor","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"tax_lines","spec":{"spec":[{"name":"channel_liable","type":"boolean","label":null,"required":false},{"name":"price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"rate","type":"number","label":null,"default":null,"required":false},{"name":"title","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","required":false},"type":"array","label":null,"required":false},{"name":"duties","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"discount_allocations","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false}],"type":"collection","required":false},"type":"array","label":null,"required":false},{"name":"payment_terms","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"refunds","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false},{"name":"shipping_address","spec":[{"name":"first_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"address1","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"phone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"city","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"zip","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"province","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"last_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"address2","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"company","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"latitude","type":"number","label":null,"default":null,"required":false},{"name":"longitude","type":"number","label":null,"default":null,"required":false},{"name":"name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"country_code","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"province_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"shipping_lines","spec":{"spec":[{"name":"id","type":"number","label":null,"default":null,"required":false},{"name":"carrier_identifier","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"code","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"discounted_price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"discounted_price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"phone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"requested_fulfillment_service_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"source","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"title","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"tax_lines","spec":{"spec":[{"name":"channel_liable","type":"boolean","label":null,"required":false},{"name":"price","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"price_set","spec":[{"name":"shop_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false},{"name":"presentment_money","spec":[{"name":"amount","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"currency_code","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null,"required":false}],"type":"collection","label":null,"required":false},{"name":"rate","type":"number","label":null,"default":null,"required":false},{"name":"title","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","required":false},"type":"array","label":null,"required":false},{"name":"discount_allocations","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false}],"type":"collection","required":false},"type":"array","label":null,"required":false}],"type":"collection","label":"Order","required":false}],"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":139785}},{"id":7,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblAM3r1GLS3DoVNQ","fields":["Id","Email","FirstName","LastName","Orders","Phone","Currency","Addr1","Addr2","City","Province","Country","Zip","ProvinceCode","Orders 2","Orders 3","CustomerId"],"formula":"{CustomerId} = {{1.order.customer.id}}","maxRecords":"1","useColumnId":false},"module":"airtable:ActionSearchRecords","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"formula","type":"text","label":"Formula"},{"name":"maxRecords","type":"integer","label":"Limit"},{"name":"sort","spec":[{"name":"field","type":"select","label":"Field","dynamic":true,"options":[]},{"name":"direction","type":"select","label":"Direction","options":[{"label":"Descending","value":"desc"},{"label":"Ascending","value":"asc"}]}],"type":"array","label":"Sort"},{"name":"view","type":"select","label":"View"},{"name":"fields","type":"select","label":"Output Fields","multiple":true}],"restore":{"expect":{"base":{"mode":"chose","label":"Untitled Base"},"sort":{"mode":"chose"},"view":{"mode":"chose"},"table":{"mode":"chose","label":"Clients"},"fields":{"mode":"chose","label":["Id","Email","FirstName","LastName","Orders","Phone","Currency","Addr1","Addr2","City","Province","Country","Zip","ProvinceCode","Orders 2","Orders 3","CustomerId"]},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"designer":{"x":300,"y":0},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"Id","type":"number","label":"Id"},{"name":"Email","type":"text","label":"Email"},{"name":"FirstName","type":"text","label":"FirstName"},{"name":"LastName","type":"text","label":"LastName"},{"name":"Orders","type":"text","label":"Orders"},{"name":"Phone","type":"text","label":"Phone"},{"name":"Currency","type":"text","label":"Currency"},{"name":"Addr1","type":"text","label":"Addr1","multiline":true},{"name":"Addr2","type":"text","label":"Addr2","multiline":true},{"name":"City","type":"text","label":"City"},{"name":"Province","type":"text","label":"Province"},{"name":"Country","type":"text","label":"Country"},{"name":"Zip","type":"text","label":"Zip"},{"name":"ProvinceCode","type":"text","label":"ProvinceCode"},{"name":"Orders 2","type":"text","label":"Orders 2"},{"name":"Orders 3","spec":{"label":"Record ID"},"type":"array","label":"Orders 3"},{"name":"CustomerId","type":"text","label":"CustomerId"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}},{"id":9,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblAM3r1GLS3DoVNQ","fields":["Id","Email","FirstName","LastName","Orders","Phone","Currency","Addr1","Addr2","City","Province","Country","Zip","ProvinceCode","Orders 2","Orders 3","CustomerId"],"formula":"{CustomerId} = {{1.order.customer.id}}","maxRecords":"1","useColumnId":false},"module":"airtable:ActionSearchRecords","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"formula","type":"text","label":"Formula"},{"name":"maxRecords","type":"integer","label":"Limit"},{"name":"sort","spec":[{"name":"field","type":"select","label":"Field","dynamic":true,"options":[]},{"name":"direction","type":"select","label":"Direction","options":[{"label":"Descending","value":"desc"},{"label":"Ascending","value":"asc"}]}],"type":"array","label":"Sort"},{"name":"view","type":"select","label":"View"},{"name":"fields","type":"select","label":"Output Fields","multiple":true}],"restore":{"expect":{"base":{"mode":"chose","label":"Untitled Base"},"sort":{"mode":"chose"},"view":{"mode":"chose"},"table":{"mode":"chose","label":"Clients"},"fields":{"mode":"chose","label":["Id","Email","FirstName","LastName","Orders","Phone","Currency","Addr1","Addr2","City","Province","Country","Zip","ProvinceCode","Orders 2","Orders 3","CustomerId"]},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"designer":{"x":600,"y":0},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"Id","type":"number","label":"Id"},{"name":"Email","type":"text","label":"Email"},{"name":"FirstName","type":"text","label":"FirstName"},{"name":"LastName","type":"text","label":"LastName"},{"name":"Orders","type":"text","label":"Orders"},{"name":"Phone","type":"text","label":"Phone"},{"name":"Currency","type":"text","label":"Currency"},{"name":"Addr1","type":"text","label":"Addr1","multiline":true},{"name":"Addr2","type":"text","label":"Addr2","multiline":true},{"name":"City","type":"text","label":"City"},{"name":"Province","type":"text","label":"Province"},{"name":"Country","type":"text","label":"Country"},{"name":"Zip","type":"text","label":"Zip"},{"name":"ProvinceCode","type":"text","label":"ProvinceCode"},{"name":"Orders 2","type":"text","label":"Orders 2"},{"name":"Orders 3","spec":{"label":"Record ID"},"type":"array","label":"Orders 3"},{"name":"CustomerId","type":"text","label":"CustomerId"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}},{"id":8,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblAM3r1GLS3DoVNQ","record":{"fld3FClHdUXCHt8Cw":"{{1.order.customer.default_address.address1}}","fld8BEi0QRDIcVIER":"{{1.order.customer.currency}}","fldJM2QGs9y1Q27FU":"{{1.order.customer.email}}","fldPcM2zE6z9SzizS":"{{1.order.customer.default_address.country_name}}","fldVuH6xV9pLcOrrv":"{{1.order.customer.default_address.city}}","fldWa1M4J2PmqQ7ox":"{{1.order.customer.default_address.province}}","fldb0XnYSp0wZzfHw":"{{1.order.customer.default_address.address2}}","fldcKeF2dhJc2MsfO":"{{1.order.customer.default_address.province_code}}","fldjwcfaRviWI5NXM":"{{1.order.customer.phone}}","fldowLucRSYBhzGBD":"{{1.order.customer.default_address.zip}}","fldp7pVT69j0EAIuI":"{{1.order.customer.last_name}}","fldyN8axXvcYfAGfN":"{{1.order.customer.first_name}}"},"recordId":"{{7.id}}","typecast":"{{true}}","useColumnId":false},"module":"airtable:upsertRecord","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"typecast","type":"boolean","label":"Smart links","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"recordId","type":"text","label":"Record ID"},{"name":"record","spec":[{"name":"fldJM2QGs9y1Q27FU","type":"text","label":"Email"},{"name":"fldyN8axXvcYfAGfN","type":"text","label":"FirstName"},{"name":"fldp7pVT69j0EAIuI","type":"text","label":"LastName"},{"name":"fldkRMSFyGPPWM1Ic","type":"text","label":"Orders"},{"name":"fldjwcfaRviWI5NXM","type":"text","label":"Phone"},{"name":"fld8BEi0QRDIcVIER","type":"text","label":"Currency"},{"name":"fld3FClHdUXCHt8Cw","type":"text","label":"Addr1"},{"name":"fldb0XnYSp0wZzfHw","type":"text","label":"Addr2"},{"name":"fldVuH6xV9pLcOrrv","type":"text","label":"City"},{"name":"fldWa1M4J2PmqQ7ox","type":"text","label":"Province"},{"name":"fldPcM2zE6z9SzizS","type":"text","label":"Country"},{"name":"fldowLucRSYBhzGBD","type":"text","label":"Zip"},{"name":"fldcKeF2dhJc2MsfO","type":"text","label":"ProvinceCode"},{"name":"fld3ZnyE4B4O3UZh9","type":"text","label":"Orders 2"},{"name":"fldyk8du8kOVgxREr","spec":{"name":"value","label":"Record ID"},"type":"array","label":"Orders 3"},{"name":"fldpKrdnZ2oaZ2XXu","type":"text","label":"CustomerId"}],"type":"collection","label":"Record"}],"restore":{"expect":{"base":{"label":"Untitled Base"},"table":{"label":"Clients"},"record":{"nested":{"fldyk8du8kOVgxREr":{"mode":"chose"}}},"typecast":{"mode":"edit"},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"advanced":true,"designer":{"x":900,"y":0},"interface":[{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"Id","type":"number","label":"Id"},{"name":"Email","type":"text","label":"Email"},{"name":"FirstName","type":"text","label":"FirstName"},{"name":"LastName","type":"text","label":"LastName"},{"name":"Orders","type":"text","label":"Orders"},{"name":"Phone","type":"text","label":"Phone"},{"name":"Currency","type":"text","label":"Currency"},{"name":"Addr1","type":"text","label":"Addr1","multiline":true},{"name":"Addr2","type":"text","label":"Addr2","multiline":true},{"name":"City","type":"text","label":"City"},{"name":"Province","type":"text","label":"Province"},{"name":"Country","type":"text","label":"Country"},{"name":"Zip","type":"text","label":"Zip"},{"name":"ProvinceCode","type":"text","label":"ProvinceCode"},{"name":"Orders 2","type":"text","label":"Orders 2"},{"name":"Orders 3","spec":{"label":"Record ID"},"type":"array","label":"Orders 3"},{"name":"CustomerId","type":"text","label":"CustomerId"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}},{"id":6,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblb23iCo9ylUqxUP","fields":["OrderId","Status","CancelledAt","CancelReason","ConfirmationNumber","Confirmed","ContactEmail","CreatedAt","Currency","TotalPrice","TotalTax","FinancialStatus","OrderName"," Note","OrderNumber","TotalWeight","UpdatedAt","BillingAddr1","BillingAddrCity","BillingAddrZip","BillingAddrProvince","BillingAddrCountry","BillingName","CustomerId","Client","Email (from Client)","FirstName (from Client)","LastName (from Client)","Orders (from Client)","Phone (from Client)","Currency (from Client)","Addr1 (from Client)","Addr2 (from Client)","City (from Client)","Province (from Client)","Country (from Client)","Zip (from Client)","ProvinceCode (from Client)","Orders 2 (from Client)"],"formula":"{OrderId} ={{1.order.id}}","maxRecords":"10","useColumnId":false},"module":"airtable:ActionSearchRecords","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"formula","type":"text","label":"Formula"},{"name":"maxRecords","type":"integer","label":"Limit"},{"name":"sort","spec":[{"name":"field","type":"select","label":"Field","dynamic":true,"options":[]},{"name":"direction","type":"select","label":"Direction","options":[{"label":"Descending","value":"desc"},{"label":"Ascending","value":"asc"}]}],"type":"array","label":"Sort"},{"name":"view","type":"select","label":"View"},{"name":"fields","type":"select","label":"Output Fields","multiple":true}],"restore":{"expect":{"base":{"mode":"chose","label":"Untitled Base"},"sort":{"mode":"chose"},"view":{"mode":"chose"},"table":{"mode":"chose","label":"Orders"},"fields":{"mode":"chose","label":["OrderId","Status","CancelledAt","CancelReason","ConfirmationNumber","Confirmed","ContactEmail","CreatedAt","Currency","TotalPrice","TotalTax","FinancialStatus","OrderName"," Note","OrderNumber","TotalWeight","UpdatedAt","BillingAddr1","BillingAddrCity","BillingAddrZip","BillingAddrProvince","BillingAddrCountry","BillingName","CustomerId","Client","Email (from Client)","FirstName (from Client)","LastName (from Client)","Orders (from Client)","Phone (from Client)","Currency (from Client)","Addr1 (from Client)","Addr2 (from Client)","City (from Client)","Province (from Client)","Country (from Client)","Zip (from Client)","ProvinceCode (from Client)","Orders 2 (from Client)"]},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"designer":{"x":1200,"y":0},"interface":[{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"OrderId","type":"text","label":"OrderId"},{"name":"Status","type":"text","label":"Status"},{"name":"CancelledAt","time":true,"type":"date","label":"CancelledAt"},{"name":"CancelReason","type":"text","label":"CancelReason","multiline":true},{"name":"ConfirmationNumber","type":"text","label":"ConfirmationNumber","multiline":true},{"name":"Confirmed","type":"boolean","label":"Confirmed"},{"name":"ContactEmail","type":"text","label":"ContactEmail"},{"name":"CreatedAt","type":"date","label":"CreatedAt"},{"name":"Currency","type":"text","label":"Currency"},{"name":"TotalPrice","type":"text","label":"TotalPrice","multiline":true},{"name":"TotalTax","type":"text","label":"TotalTax","multiline":true},{"name":"FinancialStatus","type":"text","label":"FinancialStatus"},{"name":"OrderName","type":"text","label":"OrderName"},{"name":" Note","type":"text","label":" Note","multiline":true},{"name":"OrderNumber","type":"text","label":"OrderNumber"},{"name":"TotalWeight","type":"number","label":"TotalWeight"},{"name":"UpdatedAt","time":false,"type":"date","label":"UpdatedAt"},{"name":"BillingAddr1","type":"text","label":"BillingAddr1","multiline":true},{"name":"BillingAddrCity","type":"text","label":"BillingAddrCity"},{"name":"BillingAddrZip","type":"text","label":"BillingAddrZip"},{"name":"BillingAddrProvince","type":"text","label":"BillingAddrProvince"},{"name":"BillingAddrCountry","type":"text","label":"BillingAddrCountry"},{"name":"BillingName","type":"text","label":"BillingName","multiline":true},{"name":"CustomerId","type":"text","label":"CustomerId"},{"name":"Client","spec":{"label":"Record ID"},"type":"array","label":"Client"},{"name":"Email (from Client)","type":"array","label":"Email (from Client)"},{"name":"FirstName (from Client)","type":"array","label":"FirstName (from Client)"},{"name":"LastName (from Client)","type":"array","label":"LastName (from Client)"},{"name":"Orders (from Client)","type":"array","label":"Orders (from Client)"},{"name":"Phone (from Client)","type":"array","label":"Phone (from Client)"},{"name":"Currency (from Client)","type":"array","label":"Currency (from Client)"},{"name":"Addr1 (from Client)","type":"array","label":"Addr1 (from Client)"},{"name":"Addr2 (from Client)","type":"array","label":"Addr2 (from Client)"},{"name":"City (from Client)","type":"array","label":"City (from Client)"},{"name":"Province (from Client)","type":"array","label":"Province (from Client)"},{"name":"Country (from Client)","type":"array","label":"Country (from Client)"},{"name":"Zip (from Client)","type":"array","label":"Zip (from Client)"},{"name":"ProvinceCode (from Client)","type":"array","label":"ProvinceCode (from Client)"},{"name":"Orders 2 (from Client)","type":"array","label":"Orders 2 (from Client)"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}},{"id":3,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblb23iCo9ylUqxUP","record":{"fld675Lqyz1MoueKC":"{{1.order.billing_address.zip}}","fld8lstnnis26dyev":"{{1.order.total_price_set.shop_money.amount}}","fld9CSolPTjXdMfHD":"{{1.order.order_number}}","fldC5eaeDuQIl5taj":"{{1.order.current_total_tax}}","fldCTlBvmPyzGHXKq":"{{1.order.customer.id}}","fldGJl3vUAV3P2b1I":"{{1.order.currency}}","fldK4bAuNh7Wj04rW":"{{1.order.confirmation_number}}","fldKXbDiwXcmXo5Bv":"{{1.order.billing_address.city}}","fldOCB2ymeojomEpR":"{{1.order.financial_status}}","fldODRgcqcg3C2suC":"{{1.order.billing_address.province}}","fldRVm125gAkBL2J1":"{{1.order.confirmed}}","fldXrLZ1MLPIRa23x":"{{1.order.note}}","fldY9iKfdyiheObYE":"{{1.order.fulfillment_status}}","fldYshcEorPfqxW45":"{{1.order.billing_address.name}}","fldbdPsV12uciWnQv":"{{1.order.id}}","fldfCG96a0pv5RvpC":"{{1.order.updated_at}}","fldibyS0JTYeOHvB5":"{{1.order.contact_email}}","fldjDG0xUyi1MDQPQ":"{{1.order.billing_address.address1}}","fldo4bseJ1e3i5vjJ":"{{1.order.cancelled_at}}","fldqid6p9NVE0G1HT":"{{8.Id}}","fldsqDQ8pr7k1nk4f":"{{1.order.billing_address.country}}","fldteN3rrmfAGr3o4":"{{1.order.total_weight}}","fldwSC3cnkoHBYmVL":"{{1.order.name}}","fldwtR4EzyDfa5d0P":"{{1.order.cancel_reason}}"},"recordId":"{{6.id}}","typecast":"{{true}}","useColumnId":false},"module":"airtable:upsertRecord","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"typecast","type":"boolean","label":"Smart links","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"recordId","type":"text","label":"Record ID"},{"name":"record","spec":[{"name":"fldbdPsV12uciWnQv","type":"text","label":"OrderId"},{"mode":"edit","name":"fldY9iKfdyiheObYE","type":"select","label":"Status"},{"name":"fldo4bseJ1e3i5vjJ","time":true,"type":"date","label":"CancelledAt"},{"name":"fldwtR4EzyDfa5d0P","type":"text","label":"CancelReason"},{"name":"fldK4bAuNh7Wj04rW","type":"text","label":"ConfirmationNumber"},{"name":"fldRVm125gAkBL2J1","type":"boolean","label":"Confirmed"},{"name":"fldibyS0JTYeOHvB5","type":"text","label":"ContactEmail"},{"name":"fldGJl3vUAV3P2b1I","type":"text","label":"Currency"},{"name":"fld8lstnnis26dyev","type":"text","label":"TotalPrice"},{"name":"fldC5eaeDuQIl5taj","type":"text","label":"TotalTax"},{"name":"fldOCB2ymeojomEpR","type":"text","label":"FinancialStatus"},{"name":"fldwSC3cnkoHBYmVL","type":"text","label":"OrderName"},{"name":"fldXrLZ1MLPIRa23x","type":"text","label":" Note"},{"name":"fld9CSolPTjXdMfHD","type":"text","label":"OrderNumber"},{"name":"fldteN3rrmfAGr3o4","type":"number","label":"TotalWeight"},{"name":"fldfCG96a0pv5RvpC","time":false,"type":"date","label":"UpdatedAt"},{"name":"fldjDG0xUyi1MDQPQ","type":"text","label":"BillingAddr1"},{"name":"fldKXbDiwXcmXo5Bv","type":"text","label":"BillingAddrCity"},{"name":"fld675Lqyz1MoueKC","type":"text","label":"BillingAddrZip"},{"name":"fldODRgcqcg3C2suC","type":"text","label":"BillingAddrProvince"},{"name":"fldsqDQ8pr7k1nk4f","type":"text","label":"BillingAddrCountry"},{"name":"fldYshcEorPfqxW45","type":"text","label":"BillingName"},{"name":"fldCTlBvmPyzGHXKq","type":"text","label":"CustomerId"},{"name":"fldqid6p9NVE0G1HT","spec":{"name":"value","label":"Record ID"},"type":"array","label":"Client"}],"type":"collection","label":"Record"}],"restore":{"expect":{"base":{"label":"Untitled Base"},"table":{"label":"Orders"},"record":{"nested":{"fld675Lqyz1MoueKC":{"collapsed":true},"fld8lstnnis26dyev":{"collapsed":true},"fld9CSolPTjXdMfHD":{"collapsed":true},"fldC5eaeDuQIl5taj":{"collapsed":true},"fldGJl3vUAV3P2b1I":{"collapsed":true},"fldK4bAuNh7Wj04rW":{"collapsed":true},"fldKXbDiwXcmXo5Bv":{"collapsed":true},"fldOCB2ymeojomEpR":{"collapsed":true},"fldODRgcqcg3C2suC":{"collapsed":true},"fldRVm125gAkBL2J1":{"mode":"edit","collapsed":true},"fldXrLZ1MLPIRa23x":{"collapsed":true},"fldY9iKfdyiheObYE":{"mode":"edit","collapsed":true},"fldYshcEorPfqxW45":{"collapsed":true},"fldfCG96a0pv5RvpC":{"collapsed":true},"fldibyS0JTYeOHvB5":{"collapsed":true},"fldjDG0xUyi1MDQPQ":{"collapsed":true},"fldo4bseJ1e3i5vjJ":{"collapsed":true},"fldqid6p9NVE0G1HT":{"mode":"edit"},"fldsqDQ8pr7k1nk4f":{"collapsed":true},"fldteN3rrmfAGr3o4":{"collapsed":true},"fldwSC3cnkoHBYmVL":{"collapsed":true},"fldwtR4EzyDfa5d0P":{"collapsed":true}}},"typecast":{"mode":"edit"},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"advanced":true,"designer":{"x":1500,"y":0},"interface":[{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"OrderId","type":"text","label":"OrderId"},{"name":"Status","type":"text","label":"Status"},{"name":"CancelledAt","time":true,"type":"date","label":"CancelledAt"},{"name":"CancelReason","type":"text","label":"CancelReason","multiline":true},{"name":"ConfirmationNumber","type":"text","label":"ConfirmationNumber","multiline":true},{"name":"Confirmed","type":"boolean","label":"Confirmed"},{"name":"ContactEmail","type":"text","label":"ContactEmail"},{"name":"CreatedAt","type":"date","label":"CreatedAt"},{"name":"Currency","type":"text","label":"Currency"},{"name":"TotalPrice","type":"text","label":"TotalPrice","multiline":true},{"name":"TotalTax","type":"text","label":"TotalTax","multiline":true},{"name":"FinancialStatus","type":"text","label":"FinancialStatus"},{"name":"OrderName","type":"text","label":"OrderName"},{"name":" Note","type":"text","label":" Note","multiline":true},{"name":"OrderNumber","type":"text","label":"OrderNumber"},{"name":"TotalWeight","type":"number","label":"TotalWeight"},{"name":"UpdatedAt","time":false,"type":"date","label":"UpdatedAt"},{"name":"BillingAddr1","type":"text","label":"BillingAddr1","multiline":true},{"name":"BillingAddrCity","type":"text","label":"BillingAddrCity"},{"name":"BillingAddrZip","type":"text","label":"BillingAddrZip"},{"name":"BillingAddrProvince","type":"text","label":"BillingAddrProvince"},{"name":"BillingAddrCountry","type":"text","label":"BillingAddrCountry"},{"name":"BillingName","type":"text","label":"BillingName","multiline":true},{"name":"CustomerId","type":"text","label":"CustomerId"},{"name":"Client","spec":{"label":"Record ID"},"type":"array","label":"Client"},{"name":"CustomerId (from Client)","type":"array","label":"CustomerId (from Client)"},{"name":"Email (from Client)","type":"array","label":"Email (from Client)"},{"name":"FirstName (from Client)","type":"array","label":"FirstName (from Client)"},{"name":"LastName (from Client)","type":"array","label":"LastName (from Client)"},{"name":"Orders (from Client)","type":"array","label":"Orders (from Client)"},{"name":"Phone (from Client)","type":"array","label":"Phone (from Client)"},{"name":"Currency (from Client)","type":"array","label":"Currency (from Client)"},{"name":"Addr1 (from Client)","type":"array","label":"Addr1 (from Client)"},{"name":"Addr2 (from Client)","type":"array","label":"Addr2 (from Client)"},{"name":"City (from Client)","type":"array","label":"City (from Client)"},{"name":"Province (from Client)","type":"array","label":"Province (from Client)"},{"name":"Country (from Client)","type":"array","label":"Country (from Client)"},{"name":"Zip (from Client)","type":"array","label":"Zip (from Client)"},{"name":"ProvinceCode (from Client)","type":"array","label":"ProvinceCode (from Client)"},{"name":"Orders 2 (from Client)","type":"array","label":"Orders 2 (from Client)"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}},{"id":14,"mapper":{"array":"{{1.order.line_items}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":1800,"y":0}},"parameters":{}},{"id":12,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblynsBPO9oUT1KLz","fields":["LineId","FulfillableQty","FulfillmentService","FulfillmentStatus","Grams","Name","PreTaxPrice","Currency","Vendor","TaxAmount","TaxPrice","Orders","Orders 2"],"formula":"{LineId} = {{14.id}}","maxRecords":"100","useColumnId":false},"module":"airtable:ActionSearchRecords","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"formula","type":"text","label":"Formula"},{"name":"maxRecords","type":"integer","label":"Limit"},{"name":"sort","spec":[{"name":"field","type":"select","label":"Field","dynamic":true,"options":[]},{"name":"direction","type":"select","label":"Direction","options":[{"label":"Descending","value":"desc"},{"label":"Ascending","value":"asc"}]}],"type":"array","label":"Sort"},{"name":"view","type":"select","label":"View"},{"name":"fields","type":"select","label":"Output Fields","multiple":true}],"restore":{"expect":{"base":{"mode":"chose","label":"Untitled Base"},"sort":{"mode":"chose"},"view":{"mode":"chose"},"table":{"mode":"chose","label":"Diamonds"},"fields":{"mode":"chose","label":["LineId","FulfillableQty","FulfillmentService","FulfillmentStatus","Grams","Name","PreTaxPrice","Currency","Vendor","TaxAmount","TaxPrice","Orders","Orders 2"]},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"designer":{"x":2100,"y":0},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"LineId","type":"text","label":"LineId"},{"name":"FulfillableQty","type":"number","label":"FulfillableQty"},{"name":"FulfillmentService","type":"text","label":"FulfillmentService"},{"name":"FulfillmentStatus","type":"text","label":"FulfillmentStatus"},{"name":"Grams","type":"number","label":"Grams"},{"name":"Name","type":"text","label":"Name","multiline":true},{"name":"PreTaxPrice","type":"text","label":"PreTaxPrice"},{"name":"Currency","type":"text","label":"Currency"},{"name":"Vendor","type":"text","label":"Vendor","multiline":true},{"name":"TaxAmount","type":"text","label":"TaxAmount"},{"name":"TaxPrice","type":"number","label":"TaxPrice"},{"name":"Orders","type":"text","label":"Orders"},{"name":"Orders 2","spec":{"label":"Record ID"},"type":"array","label":"Orders 2"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}},{"id":13,"mapper":{"base":"appH8AA0Z3SWHi0DA","table":"tblynsBPO9oUT1KLz","record":{"fld1Sexcj7sZd1sM4":"{{14.fulfillable_quantity}}","fldFx3ie3ehBZIzN0":"{{14.tax_lines[].price}}","fldJtOaINiwF2K0ke":"{{1.order.id}}","fldRAQS4B534esNGa":"{{14.price_set.shop_money.currency_code}}","fldk7roOZIFO5L2RR":"{{14.tax_lines[].price_set.shop_money.amount}}","fldl77kTQRfoPNQOJ":"{{14.pre_tax_price}}","fldqtGvjeJEAUgYvf":"{{14.name}}","fldruoy7cNVYFcqA6":"{{14.grams}}","fldsGKco9L32MHlh0":"{{14.vendor}}","fldtCMSv3yhSMtPrb":"{{14.fulfillment_service}}","fldvxNdYE1Xu3YMtD":"{{14.id}}","fldyl4Jyvm4izj73E":"{{14.fulfillment_status}}"},"recordId":"{{12.id}}","typecast":"{{true}}","useColumnId":false},"module":"airtable:upsertRecord","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"typecast","type":"boolean","label":"Smart links","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"recordId","type":"text","label":"Record ID"},{"name":"record","spec":[{"name":"fldvxNdYE1Xu3YMtD","type":"text","label":"LineId"},{"name":"fld1Sexcj7sZd1sM4","type":"number","label":"FulfillableQty"},{"name":"fldtCMSv3yhSMtPrb","type":"text","label":"FulfillmentService"},{"mode":"edit","name":"fldyl4Jyvm4izj73E","type":"select","label":"FulfillmentStatus"},{"name":"fldruoy7cNVYFcqA6","type":"number","label":"Grams"},{"name":"fldqtGvjeJEAUgYvf","type":"text","label":"Name"},{"name":"fldl77kTQRfoPNQOJ","type":"text","label":"PreTaxPrice"},{"name":"fldRAQS4B534esNGa","type":"text","label":"Currency"},{"name":"fldsGKco9L32MHlh0","type":"text","label":"Vendor"},{"name":"fldk7roOZIFO5L2RR","type":"text","label":"TaxAmount"},{"name":"fldFx3ie3ehBZIzN0","type":"number","label":"TaxPrice"},{"name":"fldJtOaINiwF2K0ke","type":"text","label":"Orders"},{"name":"fldqoZyLpZKqQBxuB","spec":{"name":"value","label":"Record ID"},"type":"array","label":"Orders 2"}],"type":"collection","label":"Record"}],"restore":{"expect":{"base":{"label":"Untitled Base"},"table":{"label":"Diamonds"},"record":{"nested":{"fldqoZyLpZKqQBxuB":{"mode":"chose"},"fldyl4Jyvm4izj73E":{"mode":"edit"}}},"typecast":{"mode":"edit"},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth test (User ID: usriDeUX6iXaLgZMa)"}}},"advanced":true,"designer":{"x":2400,"y":0},"interface":[{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"LineId","type":"text","label":"LineId"},{"name":"FulfillableQty","type":"number","label":"FulfillableQty"},{"name":"FulfillmentService","type":"text","label":"FulfillmentService"},{"name":"FulfillmentStatus","type":"text","label":"FulfillmentStatus"},{"name":"Grams","type":"number","label":"Grams"},{"name":"Name","type":"text","label":"Name","multiline":true},{"name":"PreTaxPrice","type":"text","label":"PreTaxPrice"},{"name":"Currency","type":"text","label":"Currency"},{"name":"Vendor","type":"text","label":"Vendor","multiline":true},{"name":"TaxAmount","type":"text","label":"TaxAmount"},{"name":"TaxPrice","type":"number","label":"TaxPrice"},{"name":"Orders","type":"text","label":"Orders"},{"name":"Orders 2","spec":{"label":"Record ID"},"type":"array","label":"Orders 2"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2787863}}],"name":"First Task","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"1":{"order":{"id":5152835665971,"name":"KZ13971...","note":"...","tags":"shopify_payments...","test":false,"email":"chrisledwon90@gmail.com...","phone":null,"token":"0b3c0e2f7f6fd503ca85d2de17ef3702...","app_id":6167201,"number":12971,"company":null,"refunds":[],"user_id":null,"currency":"USD...","customer":{"id":6687882641459,"note":null,"tags":"...","email":"chris@gmail.com...","phone":"+17065108584...","state":"disabled...","currency":"USD...","last_name":"Ledwon...","created_at":"2024-05-17T14:57:20-04:00...","first_name":"Chris...","tax_exempt":false,"updated_at":"2024-06-02T02:22:18-04:00...","tax_exemptions":[],"verified_email":true,"default_address":{"id":8292405936179,"zip":"30622...","city":"Bogart...","name":"Chris Ledwon...","phone":"+17065108584...","company":"...","country":"United States...","default":true,"address1":"210 Arrowhead Road...","address2":"...","province":"Georgia...","last_name":"Ledwon...","first_name":"Chris...","customer_id":6687882641459,"country_code":"US...","country_name":"United States...","province_code":"GA..."},"accepts_marketing":false,"admin_graphql_api_id":"gid://shopify/Customer/6687882641459...","multipass_identifier":null,"sms_marketing_consent":{"state":"not_subscribed...","opt_in_level":"single_opt_in...","consent_updated_at":null,"consent_collected_from":"OTHER..."},"marketing_opt_in_level":"single_opt_in...","email_marketing_consent":{"state":"not_subscribed...","opt_in_level":"single_opt_in...","consent_updated_at":null},"accepts_marketing_updated_at":null},"closed_at":null,"confirmed":true,"device_id":null,"po_number":null,"reference":null,"tax_lines":[{"rate":0.04,"price":"172.44...","title":"GA COUNTY TAX...","price_set":{"shop_money":{"amount":"172.44...","currency_code":"USD..."},"presentment_money":{"amount":"172.44...","currency_code":"USD..."}},"channel_liable":false}],"total_tax":"344.88...","browser_ip":"2600:1700:1d87:0:3b3:7a35:edb2:cd05...","cart_token":"182cc8c63e3086663cbbf8bf1e6339ad...","created_at":"2024-06-02T02:21:51-04:00...","line_items":[{"id":12689448337459,"sku":"390Q-ER-MQ-PLT...","name":"The Megan - Marquise / Platinum...","grams":0,"price":"2450.00...","title":"The Megan...","duties":[],"vendor":"Keyzar...","taxable":true,"quantity":1,"tax_code":"PC040206...","gift_card":false,"price_set":{"shop_money":{"amount":"2450.00...","currency_code":"USD..."},"presentment_money":{"amount":"2450.00...","currency_code":"USD..."}},"tax_lines":[{"rate":0.04,"price":"98.00...","title":"GA COUNTY TAX...","price_set":{"shop_money":{"amount":"98.00...","currency_code":"USD..."},"presentment_money":{"amount":"98.00...","currency_code":"USD..."}},"channel_liable":false}],"product_id":6934455812147,"properties":[{"name":"Ring Size...","value":"7..."}],"variant_id":41344913506355,"pre_tax_price":"2450.00...","variant_title":"Marquise / Platinum...","product_exists":true,"total_discount":"0.00...","attributed_staffs":[],"pre_tax_price_set":{"shop_money":{"amount":"2450.00...","currency_code":"USD..."},"presentment_money":{"amount":"2450.00...","currency_code":"USD..."}},"requires_shipping":true,"fulfillment_status":null,"total_discount_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"fulfillment_service":"manual...","admin_graphql_api_id":"gid://shopify/LineItem/12689448337459...","discount_allocations":[],"fulfillable_quantity":1,"variant_inventory_management":null}],"source_url":null,"tax_exempt":false,"updated_at":"2024-06-02T02:22:19-04:00...","checkout_id":30828058116147,"location_id":null,"source_name":"6167201...","total_price":"4655.88...","cancelled_at":null,"fulfillments":[],"landing_site":null,"order_number":13971,"processed_at":"2024-06-02T02:21:50-04:00...","total_weight":0,"cancel_reason":null,"contact_email":"chrisledwon90@gmail.com...","payment_terms":null,"total_tax_set":{"shop_money":{"amount":"344.88...","currency_code":"USD..."},"presentment_money":{"amount":"344.88...","currency_code":"USD..."}},"checkout_token":"61156ba8ee3f738224130292d2323d32...","client_details":{"browser_ip":"2600:1700:1d87:0:3b3:7a35:edb2:cd05...","user_agent":"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Mobile Sa...","session_hash":null,"browser_width":null,"browser_height":null,"accept_language":"en-US,en;q=0.9..."},"discount_codes":[],"referring_site":null,"shipping_lines":[{"id":4289452671027,"code":"Expedited Shipping...","phone":null,"price":"0.00...","title":"Expedited Shipping...","source":"shopify...","price_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"tax_lines":[{"rate":0.04,"price":"0.00...","title":"GA COUNTY TAX...","price_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"channel_liable":false}],"discounted_price":"0.00...","carrier_identifier":null,"discount_allocations":[],"discounted_price_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"requested_fulfillment_service_id":null}],"subtotal_price":"4311.00...","taxes_included":false,"billing_address":{"zip":"30607-1634...","city":"Athens...","name":"Chris Ledwon...","phone":"+17065108584...","company":"...","country":"United States...","address1":"208 Winery Way...","address2":"...","latitude":34.0005096,"province":"Georgia...","last_name":"Ledwon...","longitude":-83.41220679999999,"first_name":"Chris...","country_code":"US...","province_code":"GA..."},"customer_locale":"en-US...","estimated_taxes":false,"note_attributes":[{"name":"390Q-ER-MQ-PLT...","value":"https://trello.com/c/oAwPq65k..."}],"total_discounts":"0.00...","total_price_set":{"shop_money":{"amount":"4655.88...","currency_code":"USD..."},"presentment_money":{"amount":"4655.88...","currency_code":"USD..."}},"financial_status":"paid...","landing_site_ref":null,"order_status_url":"https://checkout.keyzarjewelry.com/3969941568/orders/0b3c0e2f7f6fd503ca85d2de17ef3702/authenticate?k...","shipping_address":{"zip":"30622...","city":"Bogart...","name":"Chris Ledwon...","phone":"+17065108584...","company":"...","country":"United States...","address1":"210 Arrowhead Road...","address2":"...","latitude":33.9396052,"province":"Georgia...","last_name":"Ledwon...","longitude":-83.4699809,"first_name":"Chris...","country_code":"US...","province_code":"GA..."},"current_total_tax":"344.88...","source_identifier":null,"total_outstanding":"0.00...","fulfillment_status":null,"subtotal_price_set":{"shop_money":{"amount":"4311.00...","currency_code":"USD..."},"presentment_money":{"amount":"4311.00...","currency_code":"USD..."}},"total_tip_received":"0.00...","confirmation_number":"NFIM2RNGF...","current_total_price":"4655.88...","total_discounts_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"admin_graphql_api_id":"gid://shopify/Order/5152835665971...","presentment_currency":"USD...","current_total_tax_set":{"shop_money":{"amount":"344.88...","currency_code":"USD..."},"presentment_money":{"amount":"344.88...","currency_code":"USD..."}},"discount_applications":[],"payment_gateway_names":["shopify_payments..."],"current_subtotal_price":"4311.00...","total_line_items_price":"4311.00...","buyer_accepts_marketing":false,"current_total_discounts":"0.00...","current_total_price_set":{"shop_money":{"amount":"4655.88...","currency_code":"USD..."},"presentment_money":{"amount":"4655.88...","currency_code":"USD..."}},"current_total_duties_set":null,"total_shipping_price_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"merchant_of_record_app_id":null,"original_total_duties_set":null,"current_subtotal_price_set":{"shop_money":{"amount":"4311.00...","currency_code":"USD..."},"presentment_money":{"amount":"4311.00...","currency_code":"USD..."}},"total_line_items_price_set":{"shop_money":{"amount":"4311.00...","currency_code":"USD..."},"presentment_money":{"amount":"4311.00...","currency_code":"USD..."}},"current_total_discounts_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"current_total_additional_fees_set":null,"original_total_additional_fees_set":null}},"3":{"id":"receD4gH8QZ4Z195R...","Client":["recuPXxK9zkPTuKVu..."],"OrderId":"5152835665971...","Currency":"USD...","TotalTax":"344.88...","Confirmed":true,"CreatedAt":"2024-06-03T10:59:27.000Z","OrderName":"KZ13971...","UpdatedAt":"2024-06-02...","CustomerId":"6687882641459...","TotalPrice":"4655.88...","BillingName":"Chris Ledwon...","OrderNumber":"13971...","TotalWeight":0,"createdTime":"2024-06-03T10:59:27.000Z","BillingAddr1":"208 Winery Way...","ContactEmail":"chrisledwon90@gmail.com...","BillingAddrZip":"30607-1634...","BillingAddrCity":"Athens...","FinancialStatus":"paid...","Zip (from Client)":["30622..."],"BillingAddrCountry":"United States...","City (from Client)":["Bogart..."],"ConfirmationNumber":"NFIM2RNGF...","Addr1 (from Client)":["210 Arrowhead Road..."],"Addr2 (from Client)":[null],"BillingAddrProvince":"Georgia...","Email (from Client)":["chris@gmail.com..."],"Phone (from Client)":["+17065108584..."],"Country (from Client)":["United States..."],"Currency (from Client)":["USD..."],"LastName (from Client)":["Ledwon..."],"Province (from Client)":["Georgia..."],"FirstName (from Client)":["Chris..."],"ProvinceCode (from Client)":["GA..."]},"6":{"__IMTLENGTH__":0},"7":{"__IMTLENGTH__":0},"8":{"Id":11,"id":"recuPXxK9zkPTuKVu...","Zip":"30622...","City":"Bogart...","Addr1":"210 Arrowhead Road...","Email":"chris@gmail.com...","Phone":"+17065108584...","Country":"United States...","Currency":"USD...","LastName":"Ledwon...","Province":"Georgia...","FirstName":"Chris...","createdTime":"2024-06-03T10:59:27.000Z","ProvinceCode":"GA..."},"9":{"__IMTLENGTH__":0},"12":{"__IMTLENGTH__":0},"13":{"id":"rec5qENaRGDDUudTC...","Name":"2 Carat E VVS2 Marquise Lab Diamond...","Grams":0,"LineId":"12689448304691...","Orders":["receD4gH8QZ4Z195R..."],"Vendor":"Maitri...","Currency":"USD...","TaxPrice":74.44,"TaxAmount":"74.44...","PreTaxPrice":"1861.00...","createdTime":"2024-06-03T10:59:27.000Z","FulfillableQty":1,"FulfillmentService":"manual..."},"14":{"id":12689448304691,"sku":"srdl-Marquise-IGI-635495420...","name":"2 Carat E VVS2 Marquise Lab Diamond...","grams":0,"price":"1861.00...","title":"2 Carat E VVS2 Marquise Lab Diamond...","duties":[],"vendor":"Maitri...","taxable":true,"quantity":1,"tax_code":"PC040206...","gift_card":false,"price_set":{"shop_money":{"amount":"1861.00...","currency_code":"USD..."},"presentment_money":{"amount":"1861.00...","currency_code":"USD..."}},"tax_lines":[{"rate":0.04,"price":"74.44...","title":"GA COUNTY TAX...","price_set":{"shop_money":{"amount":"74.44...","currency_code":"USD..."},"presentment_money":{"amount":"74.44...","currency_code":"USD..."}},"channel_liable":false}],"product_id":7284927135795,"properties":[{"name":"_shape...","value":"Marquise..."}],"variant_id":42315407163443,"__IMTINDEX__":1,"__IMTLENGTH__":3,"pre_tax_price":"1861.00...","variant_title":"...","product_exists":true,"total_discount":"0.00...","attributed_staffs":[],"pre_tax_price_set":{"shop_money":{"amount":"1861.00...","currency_code":"USD..."},"presentment_money":{"amount":"1861.00...","currency_code":"USD..."}},"requires_shipping":true,"fulfillment_status":null,"total_discount_set":{"shop_money":{"amount":"0.00...","currency_code":"USD..."},"presentment_money":{"amount":"0.00...","currency_code":"USD..."}},"fulfillment_service":"manual...","admin_graphql_api_id":"gid://shopify/LineItem/12689448304691...","discount_allocations":[],"fulfillable_quantity":1,"variant_inventory_management":"shopify..."}}},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}