2519763.json
{"flow":[{"id":15,"mapper":{},"module":"slack:WatchGroupMessages","version":4,"metadata":{"restore":{"parameters":{"channel":{"label":"testchannel"},"__IMTCONN__":{"data":{"scoped":"true","connection":"slack2"},"label":"My Slack (user) connection"},"inputMethod":{"label":"Select from a list"}}},"designer":{"x":-48,"y":34},"parameters":[{"name":"__IMTCONN__","type":"account:slack2","label":"Connection","required":true},{"name":"inputMethod","type":"select","label":"Input Method","required":true,"validate":{"enum":["list","search"]}},{"name":"limit","type":"uinteger","label":"Limit","required":true},{"name":"channel","type":"select","label":"Private Channel","required":true}]},"parameters":{"limit":1,"channel":"C07609N82TZ","__IMTCONN__":2797146,"inputMethod":"list"}},{"id":1,"mapper":{"select":"file","scenario":"{{15.text}}"},"module":"make:getAScenarioBlueprint","onerror":[{"id":16,"module":"builtin:Commit","version":1,"metadata":{"designer":{"x":600,"y":300}}}],"version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a Blueprint","required":true,"validate":{"enum":["json","string","file"]}}],"restore":{"expect":{"draft":{"mode":"chose"},"select":{"mode":"chose","label":"In a JSON File"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (ayala@keyzarjewelry.com)"}}},"designer":{"x":287,"y":49},"interface":[{"name":"blueprint","type":"buffer","label":"Blueprint Data","semantic":"file:data"},{"name":"filename","type":"filename","label":"File Name","semantic":"file:name"},{"name":"gitSHA","type":"text","label":"GitHub SHA"},{"name":"scheduling","spec":[{"name":"type","type":"text","label":"Type"},{"name":"between","spec":{"type":"date"},"type":"array","label":"Between"},{"name":"interval","type":"number","label":"Interval"},{"name":"restrict","spec":{"spec":[{"name":"days","spec":{"type":"number"},"type":"array","label":"Days"},{"name":"time","spec":{"type":"text"},"type":"array","label":"Time"},{"name":"months","spec":{"type":"number"},"type":"array","label":"Months"}],"type":"collection"},"type":"array","label":"Restrict"},{"name":"date","time":true,"type":"date","label":"Date"},{"name":"time","type":"text","label":"Time"},{"name":"days","type":"array","label":"Days"},{"name":"months","type":"array","label":"Months"}],"type":"collection","label":"Scheduling"},{"name":"concept","type":"boolean","label":"Concept"},{"name":"idSequence","type":"uinteger","label":"ID Sequence"},{"name":"created","time":true,"type":"date","label":"Created"},{"name":"last_edit","time":true,"type":"date","label":"Last Edit"},{"name":"metadata","spec":[{"name":"input_spec","type":"any","label":"Input Spec"},{"name":"output_spec","type":"any","label":"Output Spec"}],"type":"collection","label":"Metadata"},{"name":"length","type":"number","label":"Length"}],"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2788301}},{"id":21,"mapper":{"ca":"","qs":[],"url":"https://api.github.com/repos/AyalaAtKeyzar/test2/contents/{{15.text}}.json","gzip":true,"method":"get","headers":[{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"Accept","value":"application/vnd.github+json"}],"timeout":"","useMtls":false,"bodyType":"","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendDataAPIKeyAuth","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Empty"}},"parameters":{"auth":{"label":"Git"}}},"designer":{"x":685,"y":-107},"parameters":[{"name":"auth","type":"keychain:apikeyauth","label":"Credentials","required":true},{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true}]},"parameters":{"auth":41959,"handleErrors":false}},{"id":20,"mapper":{"ca":"","qs":[],"url":"https://api.github.com/repos/AyalaAtKeyzar/test2/contents/{{15.text}}.json","data":"{\"message\":\"{{now}}\",\"branch\":\"main\",    \"sha\": \"{{21.data.sha}}\",\"committer\":{\"name\":\"AyalaAtKeyzar\",\"email\":\"‫ayala@keyzarjewelry.com‬\"},\"content\":\"{{base64(1.blueprint)}}\"}","gzip":true,"method":"put","headers":[{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"Accept","value":"application/vnd.github+json"}],"timeout":"","useMtls":false,"bodyType":"raw","contentType":"","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendDataAPIKeyAuth","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PUT"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Raw"},"contentType":{"label":"Empty"}},"parameters":{"auth":{"label":"Git"}}},"designer":{"x":1030,"y":-109},"parameters":[{"name":"auth","type":"keychain:apikeyauth","label":"Credentials","required":true},{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true}]},"parameters":{"auth":41959,"handleErrors":false}}],"name":"First Real Task ( Push to Git)","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"1":{"gitSHA":"109197b08a2d168ff81e3619ac59d613debfbaae...","length":10594,"concept":false,"created":"2024-06-03T11:15:57.497Z","filename":"blueprint.json...","metadata":{"input_spec":[],"output_spec":[]},"blueprint":"IMTBuffer(10594, binary, 5fd8b7fe91021f6726bf7fe2bd26dd381ef01b8f): 7b22666c6f77223a5b7b226964223a31...","last_edit":"2024-06-04T09:06:00.972Z","idSequence":22,"scheduling":{"type":"on-demand..."}},"15":{"ts":"1717491447.317419...","date":"2024-06-04T08:57:27.000Z","team":"T01KL9QNWH3...","text":"2519763...","type":"message...","user":"U075ZKL9538...","blocks":[{"type":"rich_text...","block_id":"MwK2H...","elements":[{"type":"rich_text_section...","elements":[{"text":"2519763...","type":"text..."}]}]}],"client_msg_id":"b5e1fe91-d275-4f5e-8d82-763b7ecf6ff8..."},"20":{"data":{"message":"2519763.json does not match ...","documentation_url":"https://docs.github.com/rest/repos/contents#create-or-update-file-contents..."},"headers":[{"name":"connection...","value":"close..."}],"fileSize":139,"statusCode":409,"cookieHeaders":[]},"21":{"data":{"sha":"109197b08a2d168ff81e3619ac59d613debfbaae...","url":"https://api.github.com/repos/AyalaAtKeyzar/test2/contents/2519763.json?ref=main...","name":"2519763.json...","path":"2519763.json...","size":10594,"type":"file...","_links":{"git":"https://api.github.com/repos/AyalaAtKeyzar/test2/git/blobs/109197b08a2d168ff81e3619ac59d613debfbaae...","html":"https://github.com/AyalaAtKeyzar/test2/blob/main/2519763.json...","self":"https://api.github.com/repos/AyalaAtKeyzar/test2/contents/2519763.json?ref=main..."},"content":"eyJmbG93IjpbeyJpZCI6MTUsIm1hcHBlciI6e30sIm1vZHVsZSI6InNsYWNr\nOldhdGNoR3JvdXBNZXNzYWdlcyIsInZlcnNpb24...","git_url":"https://api.github.com/repos/AyalaAtKeyzar/test2/git/blobs/109197b08a2d168ff81e3619ac59d613debfbaae...","encoding":"base64...","html_url":"https://github.com/AyalaAtKeyzar/test2/blob/main/2519763.json...","download_url":"https://raw.githubusercontent.com/AyalaAtKeyzar/test2/main/2519763.json..."},"headers":[{"name":"connection...","value":"close..."}],"fileSize":15397,"statusCode":200,"cookieHeaders":[]}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}